<?php echo $lang['addTable'];?>
<br>
<form method=post action=addTable.php>
<?php echo $lang['tableName'];?>
<input type=text name=newtablename>&nbsp;&nbsp;&nbsp;&nbsp;
<?php echo $lang['fieldNums'];?>
<input type=text name=fieldnums>
<?php echo $lang['tableComment'];?>
<input type=text name=tablecomment>
<?php echo $lang['ifExternal'];?>
<select name=external>
	<option value="1"><?php echo $lang['external'];?></option>
	<option value="0"><?php echo $lang['internal'];?></option>
</select><br>
<input type=submit name=submit value=<?php echo $lang['submit'];?>>
<input type=hidden name=database value=<?php echo $_GET['database'];?>>
</form><br><br>