<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>phpHiveAdmin</title>
</head>
<frameset rows="40,860" cols="*">
  <frame src="index.php?frame=top" name="top" />
  <frameset rows="*" cols="160,1280">
    <frame src="index.php?frame=left" name="left"  noresize="noresize" />
    <frame src="index.php?frame=right" name="right"  noresize="noresize" />
  </frameset>
</frameset>
<noframes><body>
</body></noframes>
</html>
