<form method=post>
<?php echo $lang['loadDataComment'];?><br>
<table class="table table-bordered">
			
<tr class=info>
<td><?php echo $lang['chooseFS'];?></td>
<td><?php echo $lang['pathToLoad'];?></td>
<td><?php echo $lang['ifPartition'];?></td>
<td><?php echo $lang['overwrite'];?></td>
<tr>
			
<tr class="error">
<td><select name=local><option value=local><?php echo $lang['local'];?></option><option value=hdfs><?php echo $lang['hdfs'];?></option></select></td>
<td><input type=text name=path></td>
<td><input type=text name=partition></td>
<td><input type=checkbox name=overwrite value=1></td>
<tr>
			
</table><br>
<input type=hidden name=database value="<?php echo $_GET['database'];?>">
<input type=hidden name=table value="<?php echo $_GET['table'];?>">
<input class="btn btn-danger" type=submit value="<?php echo $lang['submit'];?>">
</form>