<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>phpHiveAdmin</title>
<style type="text/css">
<!--
td {
	font-size: 12px;
}
body {
	font-size: 12px;
}
-->
</style>
</head>

<body bgcolor="#EFEFEF">
<center>
Welcome to phpHiveAdmin
</center>
<?php
echo $lang['addDatabase'];
?>
<form method=post action=addDatabase.php>
<input type=text name=newdbname>
<input type=submit name=submit value=<?php echo $lang['submit'];?>>
</form>
</body>
</html>
