<table border=1>
<tr><td>
<a href="sqlQuery.php?database=<?php echo $_GET['database'];?>&table=<?php echo $_GET['table']?>">
<?php
echo $lang['sqlQuery'];
?>
</a>
</td>
<td>
<!--<a href="getFilelist.php?database=<?php echo $_GET['database'];?>&table=<?php echo $_GET['table']?>">
<?php
echo $lang['getFilelist'];
?>
</td>-->
<td>
<a href="alterTable.php?database=<?php echo $_GET['database'];?>&table=<?php echo $_GET['table']?>">
<?php
echo $lang['alterTable'];
?>
</td>
<td>
<a href="export.php?database=<?php echo $_GET['database'];?>&table=<?php echo $_GET['table']?>">
<?php
echo $lang['export'];
?>
</td>
</tr>
</table>