<br />
<div class="btn-group">
<!--<a class="btn" href="sqlQuery.php?database=<?php echo $_GET['database'];?>&table=<?php echo $_GET['table'];?>">
<i class="icon-zoom-in"></i>
<?php
echo $lang['sqlQuery'];
?>-->
<!--<td>
<a href="getFilelist.php?database=<?php echo $_GET['database'];?>&table=<?php echo $_GET['table'];?>">
<?php
echo $lang['getFilelist'];
?>
</a>
</td>-->
<?php
if($_SESSION['role'] == "superadmin" || $_SESSION['role'] == "dbadmin")
{
?>
<a class="btn" href="loadData.php?database=<?php echo $_GET['database'];?>&table=<?php echo $_GET['table'];?>">
<i class=icon-chevron-right></i>
<?php
echo $lang['loadData'];
?>
</a>
<a class="btn" href="cloneTable.php?database=<?php echo $_GET['database'];?>&table=<?php echo $_GET['table'];?>">
<i class=icon-random></i>
<?php
echo $lang['cloneTable'];
?>
</a>
<a class="btn" href="tableDetail.php?database=<?php echo $_GET['database'];?>&table=<?php echo $_GET['table'];?>">
<i class=icon-zoom-in></i>
<?php
echo $lang['tableDetail'];
?>
</a>
<a class="btn btn-warning" href="alterTable.php?database=<?php echo $_GET['database'];?>&table=<?php echo $_GET['table'];?>">
<i class=icon-pencil></i>
<?php
echo $lang['alterTable'];
?>
</a>
<a class="btn btn-danger" href="#" onclick="javascript:realconfirm('<?php echo $lang['dropTableConfirm'];?>','dropTable.php?database=<?php echo $_GET['database'];?>&table=<?php echo $_GET['table'];?>');return false;">
<i class=icon-remove></i>
<?php
echo $lang['dropTable'];
?>
</a>
<?php
}
?>
</div>