
<form method=post name=form>
<div id="hiveudf">
<textarea cols="80" rows="10" name="sql" id="sql">select * from <?php echo $_GET['table'];?> limit 30</textarea>
</div>
<br>
<div class="btn-group">
<input type=button class="btn btn-primary" name=check value="<?php echo $lang['hqlValidator'];?>" onclick="getQueryPlan()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type=submit name=submit class="btn btn-warning">
<input type=hidden name=database value=<?php echo $_GET['database'];?>>
</div>
</form>
</body>
</html>