
<form method=post name=form action="sqlSubmitted.php">
<div id="hiveudf">
<textarea cols="80" rows="10" name="sql" id="sql">select * from <?php echo $_GET['table'];?> limit 30</textarea>
</div>
<br>

<button type=button class="btn btn-primary" name=check value="" onclick="getQueryPlan()"><i class=icon-ok></i> <?php echo $lang['hqlValidator'];?></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type=submit name=submit class="btn"><i class="icon-refresh"></i> <?php echo $lang['submit'];?></button>
<input type=hidden name=database value=<?php echo $_GET['database'];?>>

</form>
</body>
</html>