<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>phpHiveAdmin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="xianglei">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">    
	ul.auto-list {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid green;
	background-color: #A3DF99;
	padding: 0;
	margin: 0;
	list-style: none;
	}
	ul.auto-list > li:hover, ul.auto-list > li[data-selected=true] {
	background-color: #236574;
	}
	ul.auto-list > li {
	border: 1px solid gray;
	cursor: default;
	padding: 2px;
	font-size: 12px
	}
	{
	font-weight: bold;
	}
	#ta {
	width: 300px;
	height: 100px;
	font-size: 11px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	white-space: pre;
	}
	#sql {width: 500px}
	</style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	  <script src="js/bootstrap.js"></script>
	  <script src="js/bootstrap..min.js"></script>
	  <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    <script src="js/bootstrap-affix.js"></script>
    <script src="js/application.js"></script>


<script>
function showsd(link1,link2)
{
	var frame_left = parent.document.getElementsByName("left")[0];
	var frame_right = parent.document.getElementsByName("right")[0];
	frame_left.src =link1;
	frame_right.src =link2;
}

function isSelect(formname)
{
	for (var i=0;i<formname.elements.length;i++)
	{
		var e = formname.elements[i];
		if (e.Name != 'allSelect'&&e.disabled==false)
		{
			e.checked = formname.allSelect.checked;
		}
	}
}

function realconfirm(text1,url)
{
	if(window.confirm(text1))
	{
		window.location=url;
	}
}

function getAjax(){
	var ajax;
	try{
		ajax=new ActiveXObject('Msxml2.XMLHTTP');
	}catch(e){
		try{
			ajax=new ActiveXObject('Microsoft.XMLHTTP');
		}catch(e){
			ajax=new XMLHttpRequest();
		}
	}
	return ajax;
}

function trim(s) {return s.replace(/(^[ |　]*)|([ |　]*$)/g, "");}
function $a(s) {return document.getElementsByName(s);}

/**
 * ajax调用函数
 */
function ajaxRequest(url, callback){
	var x=getAjax();
	x.onreadystatechange=function(){
		if(x.readyState != 4)
			return;
		var s=x.responseText;
		callback(s);
	}
	x.open("get",url+"&timestamp="+new Date(), true);
	x.send(null);
}

function getReult()
{
	document.getElementById('stderr').src='refresh.php?str=<?php echo $sha1;?>'
}

function getQueryPlan()
{
	var sql = document.getElementById('sql').value;
	window.open('getQueryPlan.php?sql='+sql,'newwindow','height=400,width=600,top=0,left=0,toolbar=no,menubar=no,scrollbars=yes, resizable=no,location=no, status=no');
}
</script>
</head>
<body bgcolor=#EFEFEF>