<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Top Frame</title>
</head>

<body>
<a href="dbList.php" target="left">
<?php
echo $lang['SQL'];
?>
</a>
-
<a href="getClusterStatus.php" target="right">
<?php
echo $lang['ClusterStatus'];
?>
</a>
-
<a href="Schema.php" target="right">
<?php
echo $lang['Schema'];
?>
</a>
-
<a href="ThriftSchema.php" target="right">
<?php
echo $lang['ThriftSchema'];
?>
</a>
-
<a href="QueryPlan.php" target="right">
<?php
echo $lang['QueryPlan'];
?>
</a>
&nbsp;&nbsp;&nbsp;&nbsp;
Tenacious B
</body>
</html>
